@if ($label-enabled) {
  .label {
    &-sm {
      font-size: $label-font-size-sm;
      border-radius: $label-border-radius-xs;
    }
    &-xs {
      font-size: $label-font-size-xs;
      border-radius: $label-border-radius-xs;
    }
    &-md {
      font-size: $label-font-size-md;
    }
    &-lg {
      font-size: $label-font-size-lg;
    }
  }
}
