.label {
  &-sm {
    font-size: $label-font-size-sm;
  }
  &-xs {
    font-size: $label-font-size-xs;
  }
  &-md {
    font-size: $label-font-size-md;
  }
  &-lg {
    font-size: $label-font-size-lg;
  }
}
