@import '../variables';

@if ($form-enabled) {
  input::-webkit-contacts-auto-fill-button,
  input::-webkit-credentials-auto-fill-button,
  input::-webkit-credit-card-auto-fill-button {
    background-color: $form-control-color-muted;
    transition: all 250ms ease;
    @media (hover: hover) {
      &:hover {
        background-color: $form-control-color;
      }
    }
    &:active {
      background-color: rgba($form-control-color, 0.75);
    }
  }
}
