@import 'variables';

.table-bordered {
  border: $table-border-size solid $table-border-color;
  border-radius: $table-border-radius;
  > thead {
    > tr {
      > th,
      > td {
        border: $table-border-size solid $table-border-color;
      }
    }
  }
  > tbody {
    > tr {
      > th,
      > td {
        border: $table-border-size solid $table-border-color;
      }
    }
  }
  > tfoot {
    > tr {
      > th,
      > td {
        border: $table-border-size solid $table-border-color;
      }
    }
  }
}
