$table-enabled: true !default;

$table-color: var(--text-color, #{$text-color}) !default;
$table-cell-padding-y: $spacer-xs !default;
$table-cell-padding-x: $spacer-sm !default;
$table-cell-padding: $table-cell-padding-y $table-cell-padding-x !default;
$table-cell-hover-background-color: var(--component-background-color-hover, #{$component-background-color-hover}) !default;
$table-cell-striped-background-color: var(--component-background-color-alt, #{$component-background-color-alt}) !default;
$table-border-size: $component-border-width !default;
$table-border-color: var(--component-border-color, #{$component-border-color}) !default;
$table-border-radius: $component-border-radius !default;
