$table-color: var(--text-color, #{$text-color}) !default;
$table-cell-padding-vertical: 0.3rem !default;
$table-cell-padding-horizontal: 0.6rem !default;
$table-cell-padding: $table-cell-padding-vertical $table-cell-padding-horizontal !default;
$table-cell-hover-background-color: var(--component-background-color-hover, #{$component-background-color-hover}) !default;
$table-cell-striped-background-color: var(--component-background-color-alt, #{$component-background-color-alt}) !default;
$table-border-size: $component-border-size !default;
$table-border-color: var(--component-border-color, #{$component-border-color}) !default;
$table-border-radius: $component-border-radius !default;
