@import 'variables';
@import 'slider';

// Hover for supported devices
@media (hover: hover) {
  // Safari auto-fill-button
  input::-webkit-contacts-auto-fill-button,
  input::-webkit-credentials-auto-fill-button,
  input::-webkit-credit-card-auto-fill-button {
    &:hover {
      background-color: $form-control-color;
    }
  }
  // Switch – checkbox and radio
  input[type='checkbox'].form-control:not(:disabled):not(:checked),
  input[type='radio'].form-control:not(:disabled):not(:checked) {
    &:hover {
      &::before {
        background-color: $form-switch-active-color-hover;
      }
    }
  }
  .form-label {
    &:hover {
      input[type='checkbox'].form-control:not(:disabled):not(:checked),
      input[type='radio'].form-control:not(:disabled):not(:checked) {
        &::before {
          background-color: $form-switch-active-color-hover;
        }
      }
    }
  }
}

.form {
  &-label {
    display: block;
    font-weight: $form-label-font-weight;
    cursor: pointer;
    color: inherit;
    line-height: $form-label-line-height;
    margin-top: $spacer-sm;
    margin-bottom: $spacer-sm;
    > *:first-child {
      margin-top: $spacer-sm;
    }
  }
  &-control {
    transition: all 0.2s;
    outline: none;
    appearance: none;
    box-shadow: none;
    position: relative;
    display: block;
    width: 100%;
    min-width: 0;
    border-radius: $form-control-border-radius;
    border: 1px solid $form-control-border-color;
    background-color: $form-control-background-color;
    margin: 0;
    padding: $form-control-padding;
    font-size: $form-control-font-size;
    font-family: $form-control-font-family;
    font-weight: $form-control-font-weight;
    line-height: $form-control-line-height;
    color: $form-control-color;
    &:focus:not(:disabled) {
      border-color: $form-control-border-color-focus;
      box-shadow: $form-control-ouline;
    }
    &:read-only:not(select):not(div):not([type='checkbox']):not([type='radio']) {
      cursor: default;
      color: $form-control-muted-color;
    }
    &.disabled,
    &:disabled {
      cursor: not-allowed;
      color: $form-control-muted-color;
      background-color: $form-control-background-color-disabled;
      opacity: 0.3; /* Safari already applies an opacity */
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $form-control-muted-color;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $form-control-muted-color;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $form-control-muted-color;
    }
    &.has-error,
    &:invalid:not(:placeholder-shown):not(select):not([type='checkbox']):not([type='radio']) {
      border-color: $form-control-danger-color;
    }
    &:-moz-ui-invalid {
      box-shadow: none;
    }
    &:-moz-submit-invalid {
      box-shadow: none;
    }
  }

  // Groups
  &-group {
    min-width: 0; // override user-agent stylesheet in webkit for fieldset
    margin: $form-group-margin;
    padding: 0;
    display: block;
    position: relative;
    border: 0 none;
    &:first-child {
      margin-top: 0;
    }
    &-stacked {
      display: flex;
      flex-direction: column;
      > .form-control + .form-control {
        margin-top: $form-control-spacer;
      }
    }
    &-inline {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      margin-bottom: -$form-control-spacer;
      margin-left: -$form-control-spacer;
      > .form-control {
        flex-grow: 1;
        flex-shrink: 1;
        min-width: 0;
        width: 0;
        margin-bottom: $form-control-spacer;
        margin-left: $form-control-spacer;
      }
      > .form-text,
      > .button {
        flex-grow: 0;
        flex-shrink: 0;
        min-width: 0;
        margin-bottom: $form-control-spacer;
        margin-left: $form-control-spacer;
      }
    }
  }
}

// Safari auto-fill-button
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
input::-webkit-credit-card-auto-fill-button {
  background-color: $form-control-muted-color;
  transition: all 250ms ease;
  &:active {
    background-color: rgba($form-control-color, 0.75);
  }
}

// Input number
input[type='number'].form-control {
  -moz-appearance: textfield;
}
input[type='number'].form-control::-webkit-inner-spin-button,
input[type='number'].form-control::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// Textarea
textarea.form-control {
  resize: vertical;
  min-height: 3em;
}

// Select
select.form-control {
  cursor: pointer;
  padding-right: 3rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1.3em;
  background-image: $form-control-select-arrow-image;
  &:invalid {
    // Simulate placeholder
    color: $form-control-muted-color;
  }
  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 $form-control-color !important;
  }
  > option {
    color: $text-color; // Fixes a Firefox color issue in dark mode where the background color is white
    &.placeholder {
      display: none;
    }
  }
}

// Switch – checkbox and radio
input[type='checkbox'].form-control,
input[type='radio'].form-control {
  cursor: pointer;
  appearance: none;
  width: $form-switch-size;
  height: $form-switch-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    content: '';
    background-color: transparent;
    position: absolute;
    top: $form-switch-inner-padding;
    right: $form-switch-inner-padding;
    bottom: $form-switch-inner-padding;
    left: $form-switch-inner-padding;
    border-radius: $form-control-border-radius - 1px;
    transition: all 250ms ease;
  }
  &:checked {
    &::before {
      background-color: $form-switch-active-color;
    }
  }
  &:disabled {
    cursor: not-allowed;
    &::before {
      background-color: $form-control-background-color-disabled;
    }
    & + .form-text {
      cursor: not-allowed;
    }
  }
  & + .form-text {
    display: inline-block;
    font-weight: $form-control-font-weight;
    padding-left: 0.5rem;
    vertical-align: middle;
    line-height: inherit;
    max-width: calc(100% - #{$form-switch-size} - 0.5rem);
  }
}
input[type='radio'].form-control {
  border-radius: 50%;
  &::before {
    border-radius: 50%;
  }
}
.form-label {
  input[type='checkbox'].form-control,
  input[type='radio'].form-control {
    vertical-align: top;
    margin-top: calc((#{$form-label-line-height} - #{$form-switch-size}) / 2);
    & + .form-text {
      vertical-align: top;
    }
  }
}

/**
 * Form validation
 */
.validate {
  &.form-control,
  .form-control {
    &.has-error,
    &:invalid {
      border-color: $form-control-danger-color;
    }
  }
}
