input[type='number'].form-control {
  -moz-appearance: textfield;
}
input[type='number'].form-control::-webkit-inner-spin-button,
input[type='number'].form-control::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
