@import '../variables';

select.form-control {
  $background-size: $form-control-line-height;
  cursor: pointer;
  background-position: right $form-control-padding-x center;
  background-repeat: no-repeat;
  background-size: $background-size;
  background-image: $form-control-select-arrow-image;
  padding-right: calc(#{$form-control-padding-x} + #{$background-size} + #{$form-control-padding-x});
  &:invalid {
    // Simulate placeholder
    color: $form-control-muted-color;
  }
  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 $form-control-color !important;
  }
  > option {
    color: $text-color; // Fixes a Firefox color issue in dark mode where the background color is white
    &.placeholder {
      display: none;
    }
  }
}
