$pagination-bg: var(--component-background-color, #{$component-background-color}) !default;
$pagination-border-color: var(--component-border-color, #{$component-border-color}) !default;
$pagination-border-width: 1px !default;
$pagination-border-radius: $component-border-radius !default;
$pagination-color: var(--component-color, #{$component-color}) !default;
$pagination-color-disabled: var(--text-muted, #{$text-muted}) !default;
$pagination-hover-bg: var(--component-background-color-hover, #{$component-background-color-hover}) !default;
$pagination-hover-border-color: var(--component-border-color, #{$component-border-color}) !default;
$pagination-hover-color: var(--component-color, #{$component-color}) !default;
$pagination-focus-bg: $pagination-hover-bg !default;
$pagination-focus-border-color: $pagination-hover-border-color !default;
$pagination-focus-color: $pagination-hover-color !default;
$pagination-active-box-shadow: 0.1em 0.1em 0.5em rgba(black, 0.15) inset !default;
$pagination-line-height: $line-height-base !default;
$pagination-font-size: $font-size-sm !default;
$pagination-font-family: $font-family-base !default;
$pagination-padding: 0.8em 1.6em !default;
