@import 'variables';

.button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 0;
  padding: $button-padding;
  min-width: $button-min-width;
  font-size: $button-font-size;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  line-height: $button-line-height;
  color: $button-primary-color;
  stroke: $button-primary-color;
  fill: $button-primary-color;
  border: 1px solid transparent;
  border-radius: $button-border-radius;
  background-color: $button-background-color-primary;
  transition: $button-transition;
  @media (hover: hover) {
    &:hover:not(:disabled) {
      text-decoration: none;
      background-color: $button-background-color-primary-hover;
    }
  }
  &:focus:not(:disabled) {
    text-decoration: none;
    background-color: $button-background-color-primary-hover;
  }
  &.active:not(:disabled),
  &:active:not(:disabled) {
    background-color: $button-background-color-primary-active;
  }
  &:disabled {
    cursor: not-allowed;
    color: grayscale($button-primary-color);
    stroke: grayscale($button-primary-color);
    fill: grayscale($button-primary-color);
    background-color: $button-background-color-primary-disabled;
    opacity: 0.5;
  }
  > * + * {
    margin-left: 1em;
  }
  .icon {
    display: block;
    font-size: inherit;
    height: $button-line-height;
    width: $button-line-height;
    object-fit: contain;
    &-xs {
      height: $button-line-height * 0.5;
      width: $button-line-height * 0.5;
    }
    &-sm {
      height: $button-line-height * 0.75;
      width: $button-line-height * 0.75;
    }
  }
}
