@import 'variables';

.button-filled {
  background-color: $button-filled-background-color;
  color: $button-filled-color;
  stroke: $button-filled-color;
  fill: $button-filled-color;
  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: rgba($button-filled-background-color, 0.9);
    }
  }
  &:focus:not(:disabled) {
    background-color: rgba($button-filled-background-color, 0.9);
  }
  &.active:not(:disabled),
  &:active:not(:disabled) {
    background-color: $button-filled-background-color;
  }
  &:disabled {
    color: $button-filled-disabled-color;
    stroke: $button-filled-disabled-color;
    fill: $button-filled-disabled-color;
    background-color: $button-filled-background-color-disabled;
  }
}
