@import 'variables';

.button-shadow {
  box-shadow: $button-shadow;
  @media (hover: hover) {
    &:hover:not(:disabled) {
      box-shadow: $button-shadow-hover;
    }
  }
  &:focus:not(:disabled) {
    box-shadow: $button-shadow-hover;
  }
  &.active:not(:disabled),
  &:active:not(:disabled) {
    box-shadow: $button-shadow-active;
  }
}
