@use 'mixins';
@import 'variables';

@if ($button-enabled and $button-shadow-enabled) {
  .button-shadow {
    @include mixins.button-css-vars(
      $box-shadow: $button-box-shadow,
      $box-shadow-hover: $button-box-shadow-hover,
      $box-shadow-active: $button-box-shadow-active,
      $box-shadow-disabled: $button-box-shadow
    );
  }
}
