@import 'variables';

.button-text {
  margin-left: -$button-padding-x;
  margin-right: -$button-padding-x;
  min-width: unset;
  background-color: transparent;
  &:disabled {
    background-color: transparent;
  }
}
