$button-font-family: inherit !default;
$button-font-size: $font-size-sm !default;
$button-font-weight: 500 !default;
$button-line-height: 1.5em !default;
$button-text-transform: uppercase !default;
$button-border-radius: $component-border-radius-sm !default;
$button-padding-y: $component-padding-sm !default;
$button-padding-x: $component-padding !default;
$button-padding: $button-padding-y $button-padding-x !default;
$button-min-width: 120px !default;
$button-transition: all 100ms ease !default;

/**
 * Colors
 */

// Primary (default)
$button-primary-color: $primary !default;
$button-background-color-primary: rgba($primary, 0.075) !default;
$button-background-color-primary-hover: rgba($primary, 0.15) !default;
$button-background-color-primary-active: rgba($primary, 0.2) !default;
$button-background-color-primary-disabled: rgba(grayscale($primary), 0.2) !default;

// Success
$button-success-color: $success !default;
$button-background-color-success: rgba($success, 0.075) !default;
$button-background-color-success-hover: rgba($success, 0.15) !default;
$button-background-color-success-active: rgba($success, 0.2) !default;
$button-background-color-success-disabled: rgba(grayscale($success), 0.2) !default;

// Info
$button-info-color: $info !default;
$button-background-color-info: rgba($info, 0.075) !default;
$button-background-color-info-hover: rgba($info, 0.15) !default;
$button-background-color-info-active: rgba($info, 0.2) !default;
$button-background-color-info-disabled: rgba(grayscale($info), 0.2) !default;

// Warning
$button-warning-color: $warning !default;
$button-background-color-warning: rgba($warning, 0.075) !default;
$button-background-color-warning-hover: rgba($warning, 0.15) !default;
$button-background-color-warning-active: rgba($warning, 0.2) !default;
$button-background-color-warning-disabled: rgba(grayscale($warning), 0.2) !default;

// Danger
$button-danger-color: $danger !default;
$button-background-color-danger: rgba($danger, 0.075) !default;
$button-background-color-danger-hover: rgba($danger, 0.15) !default;
$button-background-color-danger-active: rgba($danger, 0.2) !default;
$button-background-color-danger-disabled: rgba(grayscale($danger), 0.2) !default;

/**
 * Styles
 */

// button-outline
$button-outline-border-color: var(--component-border-color, #{$component-border-color}) !default;
$button-outline-background-color: transparent !default;

// button-filled
$button-filled-color: $white !default;
$button-filled-disabled-color: lighten(grayscale($button-filled-color), 25%) !default;
$button-filled-background-color: $button-primary-color !default;
$button-filled-background-color-disabled: lighten(grayscale($button-filled-background-color), 25%) !default;

// button-shadow
$button-shadow: $component-box-shadow !default;
$button-shadow-hover: $component-box-shadow-hover !default;
$button-shadow-active: $component-box-shadow-active !default;

/**
 * button-list
 */
$button-list-gap: 4px !default;

/**
 * Sizes
 */

// button-xs
$button-font-size-xs: 9px !default;
$button-padding-xs: 0 $component-padding-xs !default;
$button-min-width-xs: 80px !default;

// button-sm
$button-font-size-sm: 11px !default;
$button-padding-sm: $component-padding-xs $component-padding-sm !default;
$button-min-width-sm: 100px !default;

// button-md
$button-font-size-md: 16px !default;
$button-padding-md: $component-padding $component-padding-md !default;
$button-min-width-md: 140px !default;

// button-lg
$button-font-size-lg: 20px !default;
$button-padding-lg: $component-padding-md $component-padding-lg !default;
$button-min-width-lg: 140px !default;
