@import 'variables';

.button-white {
  color: $white;
  background-color: rgba($white, 0.05);
  @media (hover: hover) {
    &:hover:not(:disabled) {
      background-color: rgba($white, 0.1);
    }
    &.button-filled {
      &:hover:not(:disabled) {
        background-color: rgba($white, 0.8);
      }
    }
  }
  &:focus:not(:disabled) {
    background-color: rgba($white, 0.1);
  }
  &.active:not(:disabled),
  &:active:not(:disabled) {
    background-color: rgba($white, 0.2);
  }
  &:disabled {
    color: $white;
  }
  &.button-outline {
    color: $white;
    border-color: $white;
  }
  &.button-filled {
    color: $button-primary-color;
    background-color: $white;
    &:focus:not(:disabled) {
      background-color: rgba($white, 0.8);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($white, 0.7);
    }
    &:disabled {
      color: grayscale($button-primary-color);
    }
  }
  &.button-text {
    background-color: transparent;
  }
}
