$slider-track-height: 20px !default;
$slider-track-background-color: $gray-020 !default;
$slider-track-border: 0 none !default;
$slider-track-border-radius: $slider-track-height/2 !default;
$slider-thumb-width: 35px !default;
$slider-thumb-height: 35px !default;
$slider-thumb-background-color: $primary !default;
$slider-thumb-border: 0 none !default;
$slider-thumb-border-radius: 50% !default;
$slider-thumb-outline: $component-outline !default;
