@import 'variables';

@if ($card-enabled) {
  @media (hover: hover) {
    .card.card-hover:hover {
      &:not(.card-borderless) {
        border-color: $primary;
      }
      // &.card-borderless {
      //   opacity: 0.9;
      // }
      &.card-shadow {
        box-shadow: $card-box-shadow-hover;
        &:active {
          box-shadow: $card-box-shadow-active;
        }
      }
    }
  }
}
