// Body colors
$body-color-dark: #{rgba(white, 0.8)} !default;
$body-background-color-dark: hsl(180, 1%, 22%) !default;
$tap-highlight-color-dark: rgba($primary, 0.05) !default;

// Text colors
$text-color-dark: #{rgba(white, 0.8)} !default;
$text-muted-dark: #{rgba(white, 0.4)} !default;
$code-block-color-dark: #{rgba(white, 0.6)} !default;
$text-success-dark: lighten($success, 5%) !default;
$text-info-dark: lighten($info, 5%) !default;
$text-warning-dark: lighten($warning, 5%) !default;
$text-danger-dark: lighten($danger, 5%) !default;
$link-color-dark: lighten($blue, 5%) !default;
$code-color-dark: lighten($red, 5%) !default;
$code-block-color-dark: lighten($body-background-color-dark, 5%) !default;

// Component colors
$component-color-dark: var(--text-color) !default;
$component-border-color-dark: #{rgba($white, 0.1)} !default;
$component-background-color-dark: hsla(180, 1%, 25%, 0.98) !default;
$component-background-color-alt-dark: #{rgba($white, 0.04)} !default;
$component-backdrop-background-color-dark: hsla(180, 1%, 25%, 0.9) !default;

@mixin dark-color-scheme {
  --body-color: #{$body-color-dark};
  --body-background-color: #{$body-background-color-dark};
  --tap-highlight-color: #{$tap-highlight-color-dark};

  --text-color: #{$text-color-dark};
  --text-muted: #{$text-muted-dark};
  --text-success: #{$text-success-dark};
  --text-info: #{$text-info-dark};
  --text-warning: #{$text-warning-dark};
  --text-danger: #{$text-danger-dark};
  --link-color: #{$link-color-dark};
  --code-color: #{$code-color-dark};
  --code-block-color: #{$code-block-color-dark};

  --component-color: #{$component-color-dark};
  --component-border-color: #{$component-border-color-dark};
  --component-background-color: #{$component-background-color-dark};
  --component-background-color-alt: #{$component-background-color-alt-dark};
  --component-backdrop-background-color: #{$component-backdrop-background-color-dark};

  --form-control-select-arrow-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$text-muted-dark}" viewBox="0 0 512 512"><path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/></svg>');
}

.dark-color-scheme {
  @include dark-color-scheme;
}

@if ($enable-prefers-color-scheme) {
  @media (prefers-color-scheme: dark) {
    :root {
      @include dark-color-scheme;
    }
  }
}
