// Body colors
$body-color: $gray-900 !default;
$body-background-color: $white !default;
$tap-highlight-color: rgba($primary, 0.05) !default;

// Text colors
$text-color: $body-color !default;
$text-muted: rgba($text-color, 0.4) !default;
$text-success: $success !default;
$text-info: $info !default;
$text-warning: $warning !default;
$text-danger: $danger !default;
$link-color: $blue !default;
$code-color: $red !default;
$code-block-color: $gray-800 !default;

// Component colors
$component-color: $text-color !default;
$component-border-color: $gray-100 !default;
$component-bg-color: rgba($white, 0.98) !default;
$component-bg-color-alt: rgba($black, 0.04) !default;
$component-bg-color-hover: rgba($primary, 0.1) !default;
$component-bg-color-active: rgba($primary, 0.2) !default;
$component-backdrop-bg-color: rgba($white, 0.6) !default;
$component-box-shadow-color: rgba($black, 0.3) !default;
$component-outline-color: rgba($black, 0.2) !default;

@mixin light-color-scheme {
  --body-color: #{$body-color};
  --body-background-color: #{$body-background-color};
  --tap-highlight-color: #{$tap-highlight-color};

  --text-color: #{$text-color};
  --text-muted: #{$text-muted};
  --text-success: #{$text-success};
  --text-info: #{$text-info};
  --text-warning: #{$text-warning};
  --text-danger: #{$text-danger};
  --link-color: #{$link-color};

  --code-color: #{$code-color};
  --code-block-color: #{$code-block-color};

  --component-color: #{$component-color};
  --component-border-color: #{$component-border-color};
  --component-background-color: #{$component-bg-color};
  --component-background-color-alt: #{$component-bg-color-alt};
  --component-background-color-hover: #{$component-bg-color-hover};
  --component-background-color-active: #{$component-bg-color-active};
  --component-backdrop-background-color: #{$component-backdrop-bg-color};

  --form-control-select-arrow-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$text-muted}" viewBox="0 0 512 512"><path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/></svg>');
}

.light-color-scheme {
  @include light-color-scheme;
}

@if ($enable-automatic-color-scheme) {
  @media (prefers-color-scheme: light) {
    :root {
      @include light-color-scheme;
    }
  }
} @else {
  :root {
    @include light-color-scheme;
  }
}
