@if ($type-enabled) {
  // Hover for supported devices
  @media (hover: hover) {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  body {
    color: var(--text-color, #{$text-color});
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    font-variant-numeric: $font-variant-numeric;
    line-height: $line-height-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-headings;
    line-height: $line-height-headings;
    font-weight: $font-weight-headings;
    margin: $headings-margin-top 0 $headings-margin-bottom 0;
    padding: 0;
    small,
    .small {
      font-size: 75%;
      font-weight: $font-weight-base;
    }
    .small-block {
      display: block;
    }
  }
  h1 {
    font-family: $font-family-h1;
    font-size: $font-size-h1;
    font-weight: $font-weight-h1;
  }
  h2 {
    font-family: $font-family-h2;
    font-size: $font-size-h2;
    font-weight: $font-weight-h2;
  }
  h3 {
    font-family: $font-family-h3;
    font-size: $font-size-h3;
    font-weight: $font-weight-h3;
  }
  h4 {
    font-family: $font-family-h4;
    font-size: $font-size-h4;
    font-weight: $font-weight-h4;
  }
  h5 {
    font-family: $font-family-h5;
    font-size: $font-size-h5;
    font-weight: $font-weight-h5;
  }
  h6 {
    font-family: $font-family-h6;
    font-size: $font-size-h6;
    font-weight: $font-weight-h6;
  }
  .lead {
    font-size: $font-size-lead;
  }
  p {
    margin: $paragraph-margin-top 0 $paragraph-margin-bottom 0;
  }
  a {
    text-decoration: none;
    color: var(--link-color, #{$link-color});
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  blockquote {
    appearance: none;
    display: block;
    white-space: pre-line;
    margin: 1em 0;
    padding: 0.25em 0.5em 0.25em calc(0.5em + 4px);
    border-left: 4px solid var(--text-muted, #{$text-muted});
    background-color: $component-background-color-alt;
    border-radius: $component-border-radius-xs;
  }
  code {
    font-size: $font-size-code;
    font-family: $font-family-code;
    color: var(--code-color, #{$code-color});
    word-break: break-word;
    background-color: var(--code-background-color, #{$code-background-color});
    padding: 0.25em 0.5em;
    border-radius: $component-border-radius-xs;
  }
  pre {
    font-size: $font-size-code;
    font-family: $font-family-code;
    &.code {
      margin: $spacer 0;
      padding: $component-padding;
      word-break: break-word;
      white-space: pre-wrap;
      color: var(--code-block-color, #{$code-block-color});
      background-color: var(--code-background-color, #{$code-background-color});
      border-radius: $component-border-radius-sm;
    }
  }
  small,
  .small {
    font-size: $font-size-sm;
  }
  strong,
  b {
    font-weight: $font-weight-bold;
  }
  mark {
    padding: 0.25em 0.5em;
    background-color: $warning;
    border-radius: $component-border-radius-xs;
  }
  abbr {
    text-decoration: underline dotted;
    border-bottom: 0;
    cursor: help;
  }
  .text-muted {
    color: var(--text-muted, #{$text-muted});
  }
  .text-success {
    color: var(--text-success, #{$text-success});
  }
  .text-info {
    color: var(--text-info, #{$text-info});
  }
  .text-warning {
    color: var(--text-warning, #{$text-warning});
  }
  .text-danger {
    color: var(--text-danger, #{$text-danger});
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-justify {
    text-align: justify;
  }
  .pre-line {
    white-space: pre-line;
  }
}
