@import 'variables';
@import 'responsive';

// Hover for supported devices
@media (hover: hover) {
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}

body {
  color: var(--text-color, #{$text-color});
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-variant-numeric: $font-variant-numeric;
  line-height: $line-height-base;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headings;
  line-height: $line-height-headings;
  font-weight: $font-weight-headings;
  margin: $headings-margin-top 0 $headings-margin-bottom 0;
  padding: 0;
  small,
  .small {
    font-size: 75%;
    font-weight: $font-weight-base;
  }
  .small-block {
    display: block;
  }
}
h1 {
  font-family: $font-family-h1;
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
}
h2 {
  font-family: $font-family-h2;
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
}
h3 {
  font-family: $font-family-h3;
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
}
h4 {
  font-family: $font-family-h4;
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
}
h5 {
  font-family: $font-family-h5;
  font-size: $font-size-h5;
  font-weight: $font-weight-h5;
}
h6 {
  font-family: $font-family-h6;
  font-size: $font-size-h6;
  font-weight: $font-weight-h6;
}
.lead {
  font-size: $font-size-lead;
}
p {
  margin: $paragraph-margin-top 0 $paragraph-margin-bottom 0;
}
a {
  text-decoration: none;
  color: var(--link-color, #{$link-color});
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
blockquote {
  appearance: none;
  display: block;
  white-space: pre-line;
  margin: 0.2em 0;
  padding: 0.2em 0.6em;
  border-left: 3px solid var(--text-muted, #{$text-muted});
}
code {
  font-size: $font-size-code;
  word-break: break-word;
  font-family: $font-family-code;
  color: var(--code-color, #{$code-color});
  &.code-block {
    display: block;
    font-size: $font-size-code-block;
    color: var(--code-block-color, #{$code-block-color});
    white-space: pre-wrap;
  }
}
pre {
  font-size: 90%;
  font-family: $font-family-code;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}
small,
.small {
  font-size: $font-size-sm;
}
strong,
b {
  font-weight: $font-weight-bold;
}
mark {
  padding: 0.2em 0.6em;
  background-color: $warning;
}
abbr {
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
.text-muted {
  color: var(--text-muted, #{$text-muted});
}
.text-success {
  color: var(--text-success, #{$text-success});
}
.text-info {
  color: var(--text-info, #{$text-info});
}
.text-warning {
  color: var(--text-warning, #{$text-warning});
}
.text-danger {
  color: var(--text-danger, #{$text-danger});
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.pre-line {
  white-space: pre-line;
}

@import 'responsive';
