@import 'variables';

@if ($reset-enabled) {
  html,
  body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-tap-highlight-color: var(--tap-highlight-color, #{$tap-highlight-color});
    color: var(--body-color, #{$body-color});
    background-color: var(--body-background-color, #{$body-background-color});
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  hr {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--component-border-color, #{$component-border-color});
    border: 0 none;
    margin: 0 auto;
  }
}
