@import "variables_badges";

.badge {
  display: inline-block;
  width: $badge-size;
  height: $badge-size;
  line-height: $badge-size;
  text-align: center;
  border-radius: $badge-border-radius;
  background-color: $badge-bg-color;
  color: $badge-color;
  font-size: $badge-font-size;
  &-success {
    background-color: $badge-success-bg-color;
    color: $badge-success-color;
  }
  &-info {
    background-color: $badge-info-bg-color;
    color: $badge-info-color;
  }
  &-warning {
    background-color: $badge-warning-bg-color;
    color: $badge-warning-color;
  }
  &-danger {
    background-color: $badge-danger-bg-color;
    color: $badge-danger-color;
  }
}
