$badge-size: 24px !default;
$badge-font-size: $font-size-xs !default;
$badge-font-weight: $font-weight-base !default;
$badge-border-radius: 50% !default;
$badge-color: $white !default;
$badge-bg-color: $gray-300 !default;
$badge-success-bg-color: $success !default;
$badge-success-color: $white !default;
$badge-info-bg-color: $info !default;
$badge-info-color: $white !default;
$badge-warning-bg-color: $warning !default;
$badge-warning-color: $white !default;
$badge-danger-bg-color: $danger !default;
$badge-danger-color: $white !default;

.badge {
  display: inline-block;
  width: $badge-size;
  height: $badge-size;
  line-height: $badge-size;
  text-align: center;
  vertical-align: bottom;
  border-radius: $badge-border-radius;
  background-color: $badge-bg-color;
  color: $badge-color;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  &-success {
    background-color: $badge-success-bg-color;
    color: $badge-success-color;
  }
  &-info {
    background-color: $badge-info-bg-color;
    color: $badge-info-color;
  }
  &-warning {
    background-color: $badge-warning-bg-color;
    color: $badge-warning-color;
  }
  &-danger {
    background-color: $badge-danger-bg-color;
    color: $badge-danger-color;
  }
}
