$badge-size: 25px !default;
$badge-font-size: $font-size-sm !default;
$badge-border-radius: 50% !default;
$badge-bg-color: $component-bg-color-light !default;
$badge-color: $text-color !default;

$badge-danger-bg-color: $brand-danger !default;
$badge-danger-color: white !default;

.badge {
  display: inline-block;
  width: $badge-size;
  height: $badge-size;
  line-height: $badge-size;
  text-align: center;
  border-radius: $badge-border-radius;
  background-color: $badge-bg-color;
  color: $badge-color;
  font-size: $badge-font-size;
  &-danger {
    background-color: $badge-danger-bg-color;
    color: $badge-danger-color;
  }
}
