$bullet-size: 10px !default;
$bullet-color: var(--bullet-color, $gray-300) !default;
$bullet-success-color: $success !default;
$bullet-info-color: $info !default;
$bullet-warning-color: $warning !default;
$bullet-danger-color: $danger !default;

.bullet {
  display: inline-block;
  width: $bullet-size;
  height: $bullet-size;
  background-color: $bullet-color;
  border-radius: 50%;
  &-success {
    background-color: $success;
  }
  &-info {
    background-color: $info;
  }
  &-warning {
    background-color: $warning;
  }
  &-danger {
    background-color: $danger;
  }
}
