$bullet-size: 10px !default;
$bullet-success-color: $brand-success !default;
$bullet-info-color: $brand-info !default;
$bullet-warning-color: $brand-warning !default;
$bullet-danger-color: $brand-danger !default;

.bullet {
  display: inline-block;
  width: $bullet-size;
  height: $bullet-size;
  background-color: $gray-dark;
  border-radius: 50%;
  &-success {
    background-color: $brand-success;
  }
  &-info {
    background-color: $brand-info;
  }
  &-warning {
    background-color: $brand-warning;
  }
  &-danger {
    background-color: $brand-danger;
  }
}
