// Hover for supported devices
@media (hover: hover) {
  .button {
    &-white {
      &:hover:not(:disabled) {
        background-color: rgba($white, 0.1);
      }
      &.button-filled {
        &:hover:not(:disabled) {
          background-color: rgba($white, 0.8);
        }
      }
    }
    &-success {
      &:hover:not(:disabled) {
        background-color: rgba($button-success-color, 0.15);
      }
      &.button-filled:not(:disabled) {
        &:hover {
          background-color: rgba($button-success-color, 0.8);
        }
      }
    }
    &-info {
      &:hover:not(:disabled) {
        background-color: rgba($button-info-color, 0.15);
      }
      &.button-filled:not(:disabled) {
        &:hover {
          background-color: rgba($button-info-color, 0.8);
        }
      }
    }
    &-warning {
      &:hover:not(:disabled) {
        background-color: rgba($button-warning-color, 0.15);
      }
      &.button-filled:not(:disabled) {
        &:hover {
          background-color: rgba($button-warning-color, 0.8);
        }
      }
    }
    &-danger {
      &:hover:not(:disabled) {
        background-color: rgba($button-danger-color, 0.15);
      }
      &.button-filled:not(:disabled) {
        &:hover {
          background-color: rgba($button-danger-color, 0.8);
        }
      }
    }
  }
}

.button {
  &-white {
    color: $white;
    background-color: rgba($white, 0.05);
    &:focus:not(:disabled) {
      background-color: rgba($white, 0.1);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($white, 0.2);
    }
    &:disabled {
      color: $white;
    }
    &.button-outline {
      color: $white;
      border-color: $white;
    }
    &.button-filled {
      color: $button-primary-color;
      background-color: $white;
      &:focus:not(:disabled) {
        background-color: rgba($white, 0.8);
      }
      &.active:not(:disabled),
      &:active:not(:disabled) {
        background-color: rgba($white, 0.7);
      }
      &:disabled {
        color: grayscale($button-primary-color);
      }
    }
    &.button-text {
      background-color: transparent;
    }
  }
  &-success {
    color: $button-success-color;
    &:focus:not(:disabled) {
      background-color: rgba($button-success-color, 0.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-success-color, 0.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-success-color;
      &:focus {
        background-color: rgba($button-success-color, 0.8);
      }
      &.active,
      &:active {
        background-color: rgba($button-success-color, 0.7);
      }
    }
  }
  &-info {
    color: $button-info-color;
    &:focus:not(:disabled) {
      background-color: rgba($button-info-color, 0.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-info-color, 0.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-info-color;
      &:focus {
        background-color: rgba($button-info-color, 0.8);
      }
      &.active,
      &:active {
        background-color: rgba($button-info-color, 0.7);
      }
    }
  }
  &-warning {
    color: $button-warning-color;
    &:focus:not(:disabled) {
      background-color: rgba($button-warning-color, 0.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-warning-color, 0.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-warning-color;
      &:focus {
        background-color: rgba($button-warning-color, 0.8);
      }
      &.active,
      &:active {
        background-color: rgba($button-warning-color, 0.7);
      }
    }
  }
  &-danger {
    color: $button-danger-color;
    &:focus:not(:disabled) {
      background-color: rgba($button-danger-color, 0.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-danger-color, 0.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-danger-color;
      &:focus {
        background-color: rgba($button-danger-color, 0.8);
      }
      &.active,
      &:active {
        background-color: rgba($button-danger-color, 0.7);
      }
    }
  }
}
