$button-font-family: inherit !default;
$button-font-size: $font-size-sm !default;
$button-font-weight: 500 !default;
$button-line-height: 1.5rem !default;
$button-text-transform: uppercase !default;
$button-border-radius: $component-border-radius-sm !default;
$button-padding-y: $component-padding-sm !default;
$button-padding-x: $component-padding !default;
$button-padding: $button-padding-y $button-padding-x !default;
$button-min-width: 120px !default;
$button-min-width-xs: 80px !default;
$button-min-width-sm: 100px !default;
$button-min-width-md: 140px !default;
$button-min-width-lg: 140px !default;
$button-transition: all 100ms ease !default;

// button colors
$button-primary-color: $primary !default;
$button-primary-color-default: rgba($primary, 0.05) !default;
$button-primary-color-hover: rgba($primary, 0.15) !default;
$button-primary-color-active: rgba($primary, 0.2) !default;
$button-success-color: $success !default;
$button-info-color: $info !default;
$button-warning-color: $warning !default;
$button-danger-color: $danger !default;

// button-list
$button-list-gap: 4px !default;

// button-outline
$button-outline-border-color: var(--component-border-color, #{$component-border-color}) !default;
$button-outline-background-color: transparent !default;
$button-outline-padding: $button-padding !default;

// button-filled
$button-filled-color: $white !default;
$button-filled-background-color: $button-primary-color !default;
$button-filled-disabled-color: lighten(grayscale($button-filled-color), 25%) !default;
$button-filled-disabled-background-color: lighten(grayscale($button-filled-background-color), 25%) !default;
$button-filled-padding: $button-padding !default;

// button-xs
$button-font-size-xs: 9px !default;
$button-padding-xs: 0 $component-padding-xs !default;

// button-sm
$button-font-size-sm: 11px !default;
$button-padding-sm: $component-padding-xs $component-padding-sm !default;

// button-md
$button-font-size-md: 14px !default;
$button-padding-md: $component-padding $component-padding-md !default;

// button-lg
$button-font-size-lg: 16px !default;
$button-padding-lg: $component-padding-md $component-padding-lg !default;

// button-shadow
$button-shadow: $component-box-shadow !default;
$button-shadow-hover: $button-shadow !default;
$button-shadow-active: 0px 2px 2px -1px $gray-700 !default;

// Hover for supported devices
@media (hover: hover) {
  .button {
    &:hover:not(:disabled) {
      text-decoration: none;
      background-color: $button-primary-color-hover;
    }
    &-filled {
      &:hover:not(:disabled) {
        background-color: rgba($button-filled-background-color, 0.8);
      }
    }
    &-shadow {
      &:hover:not(:disabled) {
        box-shadow: $button-shadow-hover;
      }
    }
  }
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  margin: 0;
  padding: $button-padding;
  min-width: $button-min-width;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  line-height: $button-line-height;
  color: $button-primary-color;
  border: 1px solid transparent;
  background-color: $button-primary-color-default;
  transition: $button-transition;
  &:focus:not(:disabled) {
    text-decoration: none;
    background-color: $button-primary-color-hover;
  }
  &.active:not(:disabled),
  &:active:not(:disabled) {
    background-color: $button-primary-color-active;
  }
  &:disabled {
    cursor: not-allowed;
    color: grayscale($button-primary-color);
    opacity: 0.5;
  }
  > * + * {
    padding-left: 1em;
  }
  &-outline {
    border-color: $button-outline-border-color;
    background-color: $button-outline-background-color;
    padding: $button-outline-padding;
  }
  &-filled {
    background-color: $button-filled-background-color;
    color: $button-filled-color;
    padding: $button-filled-padding;
    &:focus:not(:disabled) {
      background-color: rgba($button-filled-background-color, 0.8);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-filled-background-color, 0.7);
    }
    &:disabled {
      background-color: $button-filled-disabled-background-color;
      color: $button-filled-disabled-color;
    }
  }
  &-text {
    margin-left: -$button-padding-x;
    margin-right: -$button-padding-x;
    min-width: unset;
    background-color: transparent;
  }
  &-shadow {
    box-shadow: $button-shadow;
    &:focus:not(:disabled) {
      box-shadow: $button-shadow-hover;
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      box-shadow: $button-shadow-active;
    }
  }
  &-list {
    margin: -$button-list-gap / 2;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    > .button,
    > .button-group {
      margin: $button-list-gap / 2;
    }
    &-column {
      flex-direction: column;
    }
    &-left {
      justify-content: flex-start;
      &.button-list-column {
        align-items: flex-start;
      }
    }
    &-center {
      justify-content: center;
      &.button-list-column {
        align-items: center;
      }
    }
    &-space-between {
      justify-content: space-between;
    }
    &-right {
      justify-content: flex-end;
      &.button-list-column {
        align-items: flex-end;
      }
    }
    &-grow {
      > .button {
        flex-grow: 1;
      }
    }
  }
  &-group {
    display: flex;
    > .button {
      flex-shrink: 0;
      &:not(.button-text) {
        border-radius: 0;
      }
      &:not(.button-outline):not(.button-filled):not(.button-text):not(:hover):not(:focus):not(.active):not(:active):not(:disabled) {
        background-color: rgba($button-primary-color, 0.05);
      }
      + .button {
        margin-left: -1px;
      }
      &.active:not(:disabled),
      &:active:not(:disabled) {
        z-index: 1;
      }
      &:first-child:not(.button-text) {
        border-top-left-radius: $component-border-radius;
        border-bottom-left-radius: $component-border-radius;
      }
      &:last-child:not(.button-text) {
        border-top-right-radius: $component-border-radius;
        border-bottom-right-radius: $component-border-radius;
      }
    }
    &-grow {
      > .button {
        flex-grow: 1;
      }
    }
  }

  // Icon
  .icon {
    font-size: 1;
    height: calc(#{$button-font-size} + 2px);
    margin: -2px 0;
    width: auto;
    fill: $button-primary-color;
  }

  // Sizes
  &-xs {
    font-size: $button-font-size-xs;
    padding: $button-padding-xs;
    min-width: $button-min-width-xs;
    .icon {
      height: calc(#{$button-font-size-xs} + 2px);
      margin: -2px 0;
    }
  }
  &-sm {
    font-size: $button-font-size-sm;
    padding: $button-padding-sm;
    min-width: $button-min-width-sm;
    .icon {
      height: calc(#{$button-font-size-sm} + 2px);
      margin: -2px 0;
    }
  }
  &-md {
    font-size: $button-font-size-md;
    padding: $button-padding-md;
    min-width: $button-min-width-md;
    .icon {
      height: calc(#{$button-font-size-md} + 1px);
      margin: -2px 0;
    }
  }
  &-lg {
    font-size: $button-font-size-lg;
    padding: $button-padding-lg;
    min-width: $button-min-width-lg;
    .icon {
      height: calc(#{$button-font-size-lg} + 1px);
      margin: -2px 0;
    }
  }
}
