@mixin button-variant (
    $color, $background, $border,
    $color-hover, $background-hover, $border-hover,
    $color-disabled, $background-disabled, $border-disabled) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover:not(:disabled) {
    color: $color-hover;
    background-color: $background-hover;
    border-color: $border-hover;
  }
  &:disabled {
    cursor: not-allowed;
    color: $color-disabled;
    background-color: $background-disabled;
    border-color: $border-disabled;
  }
}
