.button {
  &-list {
    $button-list-gap: .2em;
    margin: -$button-list-gap;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    > .button,
    > .button-group {
      margin: $button-list-gap;
    }
  }
  &-list-right {
    justify-content: flex-end;
  }
  &-list-grow {
    > .button {
      flex-grow: 1;
    }
  }
}
