.button {
  &-group {
    white-space: nowrap;
    > .button {
      border-radius: 0;
      &:not(.button-outline):not(.button-filled):not(:hover):not(:focus):not(.active):not(:active):not(:disabled) {
        background-color: rgba($button-primary-color,.05);
      }
      + .button {
        margin-left: -1px;
      }
      &.active:not(:disabled),
      &:active:not(:disabled) {
        z-index: 1;
      }
      &:first-child {
        border-top-left-radius: $component-border-radius;
        border-bottom-left-radius: $component-border-radius;
      }
      &:last-child {
        border-top-right-radius: $component-border-radius;
        border-bottom-right-radius: $component-border-radius;
      }
    }
  }
}
