.button {
  &-white {
    color: white;
    background-color: rgba(white,.05);
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba(white,.1);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba(white,.2);
    }
    &:disabled {
      color: white;
    }
    &.button-outline {
      color: white;
      border-color: white;
    }
    &.button-filled {
      color: $button-primary-color;
      background-color: white;
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: rgba(white, .8);
      }
      &.active:not(:disabled),
      &:active:not(:disabled) {
        background-color: rgba(white, .7);
      }
      &:disabled {
        color: grayscale($button-primary-color);
      }
    }
    &.button-text {
      background-color: transparent;
    }
  }
  &-success {
    color: $button-success-color;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba($button-success-color,.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-success-color,.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-success-color;
      &:hover,
      &:focus {
        background-color: rgba($button-success-color, .8);
      }
      &.active,
      &:active {
        background-color: rgba($button-success-color, .7);
      }
    }
  }
  &-info {
    color: $button-info-color;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba($button-info-color,.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-info-color,.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-info-color;
      &:hover,
      &:focus {
        background-color: rgba($button-info-color, .8);
      }
      &.active,
      &:active {
        background-color: rgba($button-info-color, .7);
      }
    }
  }
  &-warning {
    color: $button-warning-color;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba($button-warning-color,.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-warning-color,.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-warning-color;
      &:hover,
      &:focus {
        background-color: rgba($button-warning-color, .8);
      }
      &.active,
      &:active {
        background-color: rgba($button-warning-color, .7);
      }
    }
  }
  &-danger {
    color: $button-danger-color;
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba($button-danger-color,.15);
    }
    &.active:not(:disabled),
    &:active:not(:disabled) {
      background-color: rgba($button-danger-color,.2);
    }
    &.button-outline {
      background-color: transparent;
    }
    &.button-filled:not(:disabled) {
      color: $button-filled-color;
      background-color: $button-danger-color;
      &:hover,
      &:focus {
        background-color: rgba($button-danger-color, .8);
      }
      &.active,
      &:active {
        background-color: rgba($button-danger-color, .7);
      }
    }
  }
}
