$card-border-radius: $component-border-radius !default;
$card-border-size: $component-border-size !default;
$card-border-color: $component-border-color !default;
$card-bg-color: $component-bg-color !default;
$card-padding: $component-padding !default;
$card-list-grid-gap: 10px !default;

.card {
  border-radius: $card-border-radius;
  border: $card-border-size solid $card-border-color;
  background-color: $card-bg-color;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0; // with position: relative, avoid img transition issue with border-radius (overflow not hidden has expected)
  &-header {
    position: relative;
    &-title {
      margin: 0;
      padding: $card-padding;
    }
    &-image {
      display: inline-block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &-overlay {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }
    }
  }
  &-body {
    padding: $card-padding;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: $card-padding;
    border-top: $card-border-size solid $card-border-color;
    &-justify {
      justify-content: space-between;
    }
  }
  &-borderless {
    border: 0 none;
    .card-footer {
      border-top: 0 none;
    }
  }
  &-list {
    display: grid;
    grid-gap: $card-list-grid-gap;
    padding: 0;
    margin: 0;
  }
}
a.card {
  display: block;
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
