$card-border-radius: $component-border-radius !default;
$card-border-size: $component-border-size !default;
$card-border-color: $component-border-color !default;
$card-text-color: var(--card-text-color, #{$text-color}) !default;
$card-bg-color: $component-bg-color !default;
$card-padding: $component-padding !default;
$card-list-gap: 10px !default;

.card {
  display: flex;
  flex-direction: column;
  border-radius: $card-border-radius;
  border: $card-border-size solid $card-border-color;
  color: $card-text-color;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0; // with position: relative, avoid img transition issue with border-radius (overflow not hidden has expected)
  &-header {
    position: relative;
    &-title {
      margin: 0;
      padding: $card-padding;
    }
    &-image {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-color: $card-bg-color;
    }
    &-overlay {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }
    }
  }
  &-body {
    background-color: $card-bg-color;
    padding: $card-padding;
    flex-grow: 1;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
  }
  &-footer {
    background-color: $card-bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $card-padding;
    &-center {
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
  }
  &-borderless {
    border: 0 none;
    .card-footer {
      border-top: 0 none;
    }
  }
  &-shadow {
    box-shadow: $component-box-shadow;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -$card-list-gap / 2;
    > .card {
      margin: $card-list-gap / 2;
    }
  }
  &-grid {
    display: grid;
    grid-gap: $card-list-gap;
  }
}
a.card {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
