$dark-body-color: $white !default;
$dark-body-bg-color: #373838 !default;
$dark-text-color: $white !default;
$dark-text-muted: rgba($dark-text-color, 0.4) !default;

@mixin light-color-scheme {
  --body-color: initial;
  --body-background-color: initial;
  --text-color: initial;
  --text-muted: initial;
  --code-block-color: initial;
}

@mixin dark-color-scheme {
  --body-color: #{$dark-body-color};
  --body-background-color: #{$dark-body-bg-color};
  --text-color: #{$dark-text-color};
  --text-muted: #{$dark-text-muted};
  --code-block-color: #{$gray-200};
}

.dark-color-scheme {
  @include dark-color-scheme;
}

.light-color-scheme {
  @include light-color-scheme;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-color-scheme;
  }
}
