@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/GothamHTF-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/GothamHTF-BookItalic.otf') format('opentype');
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/GothamHTF-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'Archer';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Archer-Book-Pro.otf') format('opentype');
}
@font-face {
  font-family: 'Archer';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Archer-Semibold-Pro.otf') format('opentype');
}
