$form-group-margin: $spacer-md 0 !default;
$form-control-color: var(--text-color, #{$text-color}) !default;
$form-control-border-color: var(--component-border-color, #{$component-border-color}) !default;
$form-control-border-color-focus: var(--primary, #{$primary}) !default;
$form-control-border-radius: $component-border-radius-sm !default;
$form-control-background-color: var(--component-background-color, #{$component-background-color}) !default;
$form-control-muted-color: var(--text-muted, #{$text-muted}) !default;
$form-control-danger-color: var(--text-danger, #{$text-danger}) !default;
$form-control-padding: $component-padding !default;
$form-control-font-size: $font-size-base !default;
$form-control-font-family: $font-family-base !default;
$form-control-font-weight: $font-weight-base !default;
$form-control-ouline: $component-outline !default;
$form-label-font-weight: $font-weight-bold !default;
$form-label-line-height: 2.25em !default;
$form-switch-active-color: var(--primary, #{$primary}) !default;
$form-switch-active-color-hover: var(--component-background-color-hover, #{$component-background-color-hover}) !default;
$form-switch-size: $font-size-base * 1.125 !default;
$form-switch-inner-padding: 2px !default;

$form-control-select-arrow-image: var(--form-control-select-arrow-image, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$form-control-muted-color}" viewBox="0 0 512 512"><path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/></svg>'));

// Hover for supported devices
@media (hover: hover) {
  // Safari auto-fill-button
  input::-webkit-contacts-auto-fill-button,
  input::-webkit-credentials-auto-fill-button,
  input::-webkit-credit-card-auto-fill-button {
    &:hover {
      background-color: $form-control-color;
    }
  }
  // Switch – checkbox and radio
  input[type="checkbox"].form-control:not(:disabled):not(:checked),
  input[type="radio"].form-control:not(:disabled):not(:checked) {
    &:hover {
      &::before {
        background-color: $form-switch-active-color-hover;
      }
    }
  }
  .form-label {
    &:hover {
      input[type="checkbox"].form-control:not(:disabled):not(:checked),
      input[type="radio"].form-control:not(:disabled):not(:checked) {
        &::before {
          background-color: $form-switch-active-color-hover;
        }
      }
    }
  }
}

.form {
  &-group {
    min-width: 0; // override user-agent stylesheet in webkit for fieldset
    margin: $form-group-margin;
    padding: 0;
    display: block;
    position: relative;
    border: 0 none;
    &:first-child {
      margin-top: 0;
    }
    &-inline {
      display: flex;
      > .form-control {
        width: auto;
      }
    }
  }
  &-label {
    display: block;
    font-weight: $form-label-font-weight;
    cursor: pointer;
    color: inherit;
    line-height: $form-label-line-height;
  }
  &-control {
    transition: all 0.2s;
    outline: none;
    appearance: none;
    box-shadow: none;
    position: relative;
    display: block;
    width: 100%;
    border-radius: $form-control-border-radius;
    border: 1px solid $form-control-border-color;
    background-color: $form-control-background-color;
    margin: 0;
    padding: $form-control-padding;
    font-size: $form-control-font-size;
    font-family: $form-control-font-family;
    font-weight: $form-control-font-weight;
    color: $form-control-color;
    &:focus:not(:disabled) {
      border-color: $form-control-border-color-focus;
      box-shadow: $form-control-ouline;
    }
    &:read-only:not(select):not(div):not([type="checkbox"]):not([type="radio"]) {
      cursor: default;
      color: $form-control-muted-color;
    }
    &.disabled,
    &:disabled {
      cursor: not-allowed;
      color: $form-control-muted-color;
      opacity: 0.6; /* Safari already does this  */
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $form-control-muted-color;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $form-control-muted-color;
    }
    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $form-control-muted-color;
    }
    &.has-error,
    &:invalid:not(:placeholder-shown):not(select):not([type="checkbox"]):not([type="radio"]) {
      border-color: $form-control-danger-color;
    }
    &:-moz-ui-invalid {
      box-shadow: none;
    }
    &:-moz-submit-invalid {
      box-shadow: none;
    }
    + .form-control {
      margin-top: 4px;
    }
  }
}

// Safari auto-fill-button
input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button,
input::-webkit-credit-card-auto-fill-button {
  background-color: $form-control-muted-color;
  transition: all 250ms ease;
  &:active {
    background-color: rgba($form-control-color, 0.75);
  }
}

// Input number
input[type="number"].form-control {
  -moz-appearance: textfield;
}
input[type="number"].form-control::-webkit-inner-spin-button,
input[type="number"].form-control::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// Textarea
textarea.form-control {
  resize: vertical;
  min-height: 3em;
}

// Select
select.form-control {
  cursor: pointer;
  padding-right: 3rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-color: $form-control-background-color;
  background-size: 1.3em;
  background-image: $form-control-select-arrow-image;
  &:invalid {
    // Simulate placeholder
    color: $form-control-muted-color;
  }
  &:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 $form-control-color !important;
  }
}

// Switch – checkbox and radio
input[type="checkbox"].form-control,
input[type="radio"].form-control {
  cursor: pointer;
  appearance: none;
  width: $form-switch-size;
  height: $form-switch-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: $form-switch-inner-padding;
    right: $form-switch-inner-padding;
    bottom: $form-switch-inner-padding;
    left: $form-switch-inner-padding;
    border-radius: $form-control-border-radius - 1px;
    transition: all 250ms ease;
  }
  &:checked {
    &::before {
      background-color: $form-switch-active-color;
    }
  }
  &:disabled {
    cursor: not-allowed;
    &::before {
      background-color: $form-control-muted-color;
    }
    & + .form-text {
      cursor: not-allowed;
    }
  }
  & + .form-text {
    display: inline-block;
    font-weight: $form-control-font-weight;
    padding-left: 0.5rem;
    vertical-align: middle;
    line-height: $line-height-base;
    max-width: calc(100% - #{$form-switch-size} - 0.5rem);
  }
}
input[type="radio"].form-control {
  border-radius: 50%;
  &::before {
    border-radius: 50%;
  }
}
.form-label {
  input[type="checkbox"].form-control,
  input[type="radio"].form-control {
    vertical-align: top;
    margin-top: ($form-label-line-height - $form-switch-size) / 2;
    & + .form-text {
      vertical-align: top;
      margin-top: ($form-label-line-height - $line-height-base) / 2;
      margin-bottom: ($form-label-line-height - $line-height-base) / 2;
    }
  }
}

/**
 * Form validation
 */
.validate {
  &.form-control,
  .form-control {
    &.has-error,
    &:invalid {
      border-color: $form-control-danger-color;
    }
  }
}
