$form-control-color: $text-color !default;
$form-control-border-color: $component-border-color !default;
$form-control-border-radius: $component-border-radius-sm !default;
$form-control-bg-color: $component-bg-color !default;
$form-control-muted-color: $text-muted !default;
$form-control-danger-color: $text-danger !default;
$form-control-padding: $component-padding !default;
$form-control-font-size: $font-size-base !default;
$form-control-font-family: $font-family-base !default;
$form-control-font-weight: $font-weight-base !default;
$form-control-ouline: $component-outline !default;
$form-label-font-weight: $font-weight-bold !default;
$form-switch-active-color: $form-control-color !default;
$form-switch-size: floor(($font-size-base * $line-height-base)) !default;
$form-switch-inner-padding: 2px !default;

.form {
  &-group {
    min-width: 0; // override user-agent stylesheet in webkit for fieldset
    margin: 2em 0 0 0;
    padding: 0;
    display: block;
    position: relative;
    border: 0 none;
    &:first-child {
      margin-top: 0;
    }
  }
  &-label {
    display: block;
    font-weight: $form-label-font-weight;
    cursor: pointer;
    color: inherit;
    line-height: 2.2em;
  }
  &-control {
    transition: all .2s;
    outline: none;
    appearance: none;
    box-shadow: none;
    position: relative;
    display: block;
    width: 100%;
    border-radius: $form-control-border-radius;
    border: 1px solid $form-control-border-color;
    background-color: $form-control-bg-color;
    margin: 0;
    padding: $form-control-padding;
    font-size: $form-control-font-size;
    font-family: $form-control-font-family;
    font-weight: $form-control-font-weight;
    color: $form-control-color;
    &:focus:not(:disabled):not(:not(select):read-only) {
      box-shadow: $form-control-ouline;
    }
    &:read-only:not(select) {
      cursor: default;
      color: $form-control-muted-color;
    }
    &.disabled,
    &:disabled {
      cursor: not-allowed;
      color: $form-control-muted-color;
      opacity: .6; /* Safari already does this  */
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $form-control-muted-color;
      opacity: 1; /* Firefox */
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $form-control-muted-color;
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
      color: $form-control-muted-color;
    }
    &.has-error,
    &:invalid:not(:placeholder-shown):not(select):not([type="checkbox"]):not([type="radio"]) {
      border-color: $form-control-danger-color;
    }
    &:-moz-ui-invalid {
      box-shadow: none;
    }
    &:-moz-submit-invalid {
      box-shadow: none;
    }
    + .form-control {
      margin-top: 4px;
    }
  }
}

// Input number
input[type=number].form-control {
  -moz-appearance: textfield;
}
input[type=number].form-control::-webkit-inner-spin-button,
input[type=number].form-control::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

// Textarea
textarea.form-control {
  resize: vertical;
  min-height: 3em;
}

// Select
select.form-control {
  cursor: pointer;
  padding-right: 3rem;
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-color: $form-control-bg-color;
  background-size: 1.3em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$form-control-muted-color}" viewBox="0 0 512 512"><path d="M256 294.1L383 167c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273 345c-9.1 9.1-23.7 9.3-33.1.7L95 201.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z"/></svg>');
  &:invalid { // Simulate placeholder
    color: $form-control-muted-color;
  }
}

// Switch – checkbox and radio
input[type="checkbox"].form-control,
input[type="radio"].form-control {
  cursor: pointer;
  appearance: none;
  width: $form-switch-size;
  height: $form-switch-size;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &::before {
    content: "";
    background-color: transparent;
    position: absolute;
    top: $form-switch-inner-padding;
    right: $form-switch-inner-padding;
    bottom: $form-switch-inner-padding;
    left: $form-switch-inner-padding;
    border-radius: $form-control-border-radius - 1px;
    transition: all 250ms ease;
  }
  &:checked {
    &::before {
      background-color: $form-switch-active-color;
    }
  }
  &:disabled {
    cursor: not-allowed;
    &::before {
      background-color: $form-control-muted-color;
    }
    & + .form-text {
      cursor: not-allowed;
    }
  }
  & + .form-text {
    font-weight: $form-control-font-weight;
    padding-left: .5em;
    vertical-align: middle;
  }
}
input[type="radio"].form-control {
  border-radius: 50%;
  &::before {
    border-radius: 50%;
  }
}

/**
 * Form validation
 */
.validate {
  &.form-control,
  .form-control {
    &.has-error,
    &:invalid {
      border-color: $form-control-danger-color;
    }
  }
}
