$label-padding: 3px 6px !default;
$label-border-radius: $component-border-radius-sm !default;
$label-font-size: $font-size-base * .75 !default;
$label-font-size-sm: $font-size-base * .625 !default;
$label-font-size-xs: $font-size-base * .5 !default;
$label-font-weight: 500 !default;
$label-text-transform: uppercase !default;
$label-color: $text-color !default;
$label-bg-color: mix(rgba($label-color,.35), white) !default;
$label-success-color: $brand-success !default;
$label-success-bg-color: rgba($label-success-color, .15) !default;
$label-info-color: $brand-info !default;
$label-info-bg-color: rgba($label-info-color, .15) !default;
$label-warning-color: $brand-warning !default;
$label-warning-bg-color: rgba($label-warning-color, .15) !default;
$label-danger-color: $brand-danger !default;
$label-danger-bg-color: rgba($label-danger-color, .15) !default;

.label {
  display: inline;
  color: $label-color;
  background-color: $label-bg-color;
  line-height: 1em;
  padding: $label-padding;
  border-radius: $label-border-radius;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  text-transform: $label-text-transform;
  white-space: nowrap;
  & + .label {
    margin-left: .4em;
  }
  &-sm {
    font-size: $label-font-size-sm;
  }
  &-xs {
    font-size: $label-font-size-xs;
  }
  &-success {
    background-color: $label-success-bg-color;
    color: $label-success-color;
  }
  &-info {
    background-color: $label-info-bg-color;
    color: $label-info-color;
  }
  &-warning {
    background-color: $label-warning-bg-color;
    color: $label-warning-color;
  }
  &-danger {
    background-color: $label-danger-bg-color;
    color: $label-danger-color;
  }
}
