$list-group-padding: $component-padding !default;
$list-group-margin: 0 !default;

$list-group-color: var(--component-color, #{$component-color}) !default;
$list-group-border-color: var(--component-border-color, #{$component-border-color}) !default;
$list-group-border-size: $component-border-size !default;
$list-group-border-radius: $component-border-radius !default;
$list-group-bg-color: var(--component-background-color, #{$component-background-color}) !default;
$list-group-bg-color-hover: var(--component-background-color-hover, #{$component-background-color-hover}) !default;
$list-group-bg-color-active: var(--component-background-color-active, #{$component-background-color-active}) !default;

$list-group-subheader-color: var(--text-muted, #{$text-muted}) !default;
$list-group-subheader-padding: ($component-padding-y * 2) $component-padding-x $component-padding-y $component-padding-x !default;
$list-group-subheader-font-size: 0.75em !default;

$list-group-accessory-color: var(--text-muted, #{$text-muted}) !default;
$list-group-action-font-size: 11px !default;
$list-group-action-font-weight: 500 !default;

$list-group-footer-color: var(--text-muted, #{$text-muted}) !default;
$list-group-footer-font-size: $font-size-sm !default;

.list-group {
  margin: $list-group-margin;
  padding: 0;
  position: relative;
  color: $list-group-color;
  &-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    border: $list-group-border-size solid $list-group-border-color;
    background-color: $list-group-bg-color;
    overflow: hidden;
    line-height: $line-height-base;
    + .list-group-item {
      margin-top: -1px;
    }
    &-subheader + &,
    &:first-of-type {
      border-top-left-radius: $list-group-border-radius;
      border-top-right-radius: $list-group-border-radius;
    }
    &:last-of-type {
      border-bottom-left-radius: $list-group-border-radius;
      border-bottom-right-radius: $list-group-border-radius;
    }
    > a {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      color: inherit;
      padding: 0;
      margin: 0;
      text-decoration: inherit;
      transition: background-color 250ms ease;
      &:active {
        text-shadow: inherit;
        background-color: $list-group-bg-color-active;
      }
      + .list-group-item-container {
        &::before {
          content: "";
          border-top: $list-group-border-size dotted $list-group-border-color;
          display: block;
        }
      }
    }
    &-header {
      display: flex;
      align-items: center;
      margin: $list-group-padding;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &-subheader {
      display: flex;
      align-items: center;
      margin: $list-group-subheader-padding;
      color: $list-group-subheader-color;
      font-size: $list-group-subheader-font-size;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: inherit;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &-body {
      margin: $list-group-padding;
    }
    &-footer {
      margin: $list-group-padding;
      color: $list-group-footer-color;
      font-size: $list-group-footer-font-size;
    }
    &-accessory {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      color: $list-group-accessory-color;
      .action {
        font-size: $list-group-action-font-size;
        font-weight: $list-group-action-font-weight;
        font-family: inherit;
        line-height: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        appearance: none;
        color: inherit;
        background-color: transparent;
        border: 0 none;
        outline: none;
        margin: 0;
        padding: 0;
        transition: all 250ms ease;
      }
      &:first-child {
        margin-right: 0.75em;
      }
      &:last-child {
        margin-left: auto;
      }
      a.action,
      button.action {
        cursor: pointer;
        &:active:not(:disabled) {
          opacity: 0.8;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      &.list-group-item-accessory-list {
        > * + * {
          margin-left: 16px;
        }
      }
      &-top {
        align-self: flex-start;
      }
    }
  }
}

// Hover for supported devices
@media (hover: hover) {
  .list-group {
    &-item {
      > a {
        &:hover {
          color: inherit;
          text-decoration: inherit;
          background-color: $list-group-bg-color-hover;
        }
      }
      &-accessory {
        a.action,
        button.action {
          &:hover:not(:disabled) {
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
}
