$list-group-padding: $component-padding !default;
$list-group-border-color: $component-border-color !default;
$list-group-border-size: $component-border-size !default;
$list-group-border-radius: $component-border-radius !default;
$list-group-bg-color: $component-bg-color !default;

$list-group-accessory-color: $text-muted !default;
$list-group-action-font-size: 11px !default;
$list-group-action-font-weight: 500 !default;

$list-group-footer-color: $text-muted !default;
$list-group-footer-font-size: $font-size-sm;

.list-group {
  margin: 0;
  padding: 0;
  position: relative;
  &-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    color: $text-color;
    border: $list-group-border-size solid $list-group-border-color;
    background-color: $list-group-bg-color;
    overflow: hidden;
    line-height: $line-height-base;
    transition: all 250ms ease;
    + .list-group-item {
      margin-top: -1px;
    }
    &:first-of-type {
      border-top-left-radius: $list-group-border-radius;
      border-top-right-radius: $list-group-border-radius;
    }
    &:last-of-type {
      border-bottom-left-radius: $list-group-border-radius;
      border-bottom-right-radius: $list-group-border-radius;
    }
    > a {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      color: inherit;
      padding: 0;
      margin: 0;
      text-decoration: inherit;
      transition: background-color 250ms ease;
      &:hover {
        color: inherit;
        text-decoration: inherit;
        background-color: darken($list-group-bg-color, 3%);
      }
      &:active {
        text-shadow: inherit;
        background-color: darken($list-group-bg-color, 6%);
      }
      + .list-group-item-container {
        &::before {
          content: "";
          border-top: $list-group-border-size dotted lighten($list-group-border-color, 3%);
          display: block;
        }
      }
    }
    &-header {
      display: flex;
      align-items: center;
      margin: $list-group-padding;
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &-body {
      margin: $list-group-padding;
    }
    &-footer {
      margin: $list-group-padding;
      color: $list-group-footer-color;
      font-size: $list-group-footer-font-size;
    }
    &-accessory {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      text-decoration: none;
      color: $list-group-accessory-color;
      .action {
        cursor: pointer;
        font-size: $list-group-action-font-size;
        font-weight: $list-group-action-font-weight;
        line-height: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        appearance: none;
        color: inherit;
        border: 0 none;
        outline: none;
        margin: 0;
        padding: 0;
        transition: all 250ms ease;
        &:hover:not(:disabled) {
          color: $text-color;
          text-decoration: none;
        }
        &:active:not(:disabled) {
          color: lighten($text-color, 50%);
        }
        &:disabled {
          opacity: .5;
          cursor: not-allowed;
        }
      }
      &:first-child {
        margin-right: .8em;
      }
      &:last-child {
        margin-left: auto;
      }
      &.list-group-item-accessory-list {
        > * + * {
          margin-left: 16px;
        }
      }
      &-top {
        align-self: flex-start;
      }
    }
  }
}
