// Backdrop
.animate-backdrop-enter-active {
  transition: all 250ms ease;
}
.animate-backdrop-enter {
  opacity: 0;
}
.animate-backdrop-enter-to {
  opacity: 1;
}
.animate-backdrop-leave-active {
  transition: all 250ms ease 100ms;
}
.animate-backdrop-leave {
  opacity: 1;
}
.animate-backdrop-leave-to {
  opacity: 0;
}

// Modal Dialog
.animate-modal-enter-active {
  transition: all 450ms ease;
}
.animate-modal-enter {
  transform: translateY(100vh);
}
.animate-modal-enter-to {
  transform: translateY(0vh);
}
.animate-modal-leave-active {
  transition: all 250ms ease;
}
.animate-modal-leave {
  transform: translateY(0vh);
}
.animate-modal-leave-to {
  transform: translateY(100vh);
}
