$pagination-bg: $component-bg-color !default;
$pagination-border-color: $component-border-color !default;
$pagination-border-width: 1px !default;
$pagination-border-radius: $component-border-radius !default;
$pagination-color: $text-color !default;
$pagination-color-disabled: $text-muted !default;
$pagination-focus-box-shadow: $outline !default;
$pagination-focus-outline: $outline !default;
$pagination-hover-bg: darken($component-bg-color,5%) !default;
$pagination-hover-border-color: darken($component-border-color,5%) !default;
$pagination-hover-color: $text-color !default;
$pagination-line-height: inherit !default;
$pagination-font-size: inherit !default;
$pagination-font-family: inherit !default;
$pagination-padding: .8em 1.6em !default;

.pagination {
  display: flex;
  align-items: center;
  .page {
    &-item {
      outline: none;
      position: relative;
      display: block;
      padding: $pagination-padding;
      margin: 0 0 0 (-$pagination-border-width);
      line-height: $pagination-line-height;
      font-size: $pagination-font-size;
      font-family: $pagination-font-family;
      text-align: center;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: $pagination-border-width solid $pagination-border-color;
      &:first-child {
        margin-left: 0;
        border-top-left-radius: $pagination-border-radius;
        border-bottom-left-radius: $pagination-border-radius;
      }
      &:last-child {
        border-top-right-radius: $pagination-border-radius;
        border-bottom-right-radius: $pagination-border-radius;
      }
    }
    &-button {
      transition:
        all 250ms ease,
        box-shadow 100ms ease
      ;
      &:hover:not(:disabled) {
        z-index: 2;
        color: $pagination-hover-color;
        text-decoration: none;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border-color;
      }
      &:focus:not(:disabled) {
        z-index: 2;
        outline: $pagination-focus-outline;
        box-shadow: $pagination-focus-box-shadow;
      }
      &:active:not(:disabled) {
        box-shadow: .1em .1em .5em rgba(black,.15) inset;
      }
      .disabled,
      &:disabled {
        color: $pagination-color-disabled;
      }
      &:not(:disabled) {
        cursor: pointer;
      }
    }
    &-info {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}
