$panel-bg-color: $component-bg-color !default;
$panel-border-size: $component-border-size !default;
$panel-border-color: $component-border-color !default;
$panel-border-radius: $component-border-radius !default;
$panel-padding: $component-padding !default;

.panel {
  border-radius: $panel-border-radius;
  border: $panel-border-size solid $panel-border-color;
  background-color: $panel-bg-color;
  &-header {
    padding: $panel-padding;
    border-bottom: $panel-border-size solid $panel-border-color;
    display: flex;
    justify-content: space-between;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
  &-body {
    padding: $panel-padding;
  }
  &-footer {
    padding: $panel-padding;
    border-top: $panel-border-size solid $panel-border-color;
  }
}
