$body-color: rgba($black, 0.9) !default;
$body-background-color: $white !default;
$tap-highlight-color: rgba($primary, 0.05) !default;
$container-breakpoint: $breakpoint-lg !default;
$content-padding: $spacer !default;
$zindex-fixed: 1000 !default;

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: var(--tap-highlight-color, #{$tap-highlight-color});
  -ms-overflow-style: -ms-autohiding-scrollbar;
  color: var(--body-color, #{$body-color});
  background-color: var(--body-background-color, #{$body-background-color});
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--component-border-color, #{$component-border-color});
  border: 0 none;
  margin: 0 auto;
}

.section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: $container-breakpoint;
  margin: 0 auto;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

.content {
  padding: $content-padding;
}
.fixed-top {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}
.fixed-bottom {
  position: fixed;
  z-index: $zindex-fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}
