$table-color: var(--text-color, #{$text-color}) !default;
$table-cell-padding-vertical: 0.3rem !default;
$table-cell-padding-horizontal: 0.6rem !default;
$table-cell-padding: $table-cell-padding-vertical $table-cell-padding-horizontal !default;
$table-cell-hover-bg-color: var(--component-background-color-hover, #{$component-bg-color-hover}) !default;
$table-cell-striped-bg-color: var(--component-background-color-alt, #{$component-bg-color-alt}) !default;
$table-border-size: $component-border-size !default;
$table-border-color: var(--component-border-color, #{$component-border-color}) !default;
$table-border-radius: $component-border-radius !default;

.table {
  border-collapse: collapse;
  width: 100%;
  color: $table-color;
  > thead {
    > tr {
      > th {
        text-align: left;
        padding: $table-cell-padding;
      }
    }
  }
  > tbody {
    > tr {
      border-top: 1px solid $table-border-color;
      > th {
        text-align: left;
        padding: $table-cell-padding;
        vertical-align: top;
        font-weight: $font-weight-bold;
      }
      > td {
        text-align: left;
        padding: $table-cell-padding;
        vertical-align: top;
      }
    }
  }
  &-striped {
    > tbody {
      > tr:nth-of-type(odd) {
        background-color: $table-cell-striped-bg-color;
      }
    }
  }
  &-bordered {
    border: $table-border-size solid $table-border-color;
    border-radius: $table-border-radius;
    > thead {
      > tr {
        > th,
        > td {
          border: $table-border-size solid $table-border-color;
        }
      }
    }
    > tbody {
      > tr {
        > th,
        > td {
          border: $table-border-size solid $table-border-color;
        }
      }
    }
    > tfoot {
      > tr {
        > th,
        > td {
          border: $table-border-size solid $table-border-color;
        }
      }
    }
  }
  &-borderless {
    > tbody {
      > tr {
        border-top: 0 none;
        > th:first-child,
        > td:first-child {
          padding-left: 0;
        }
        > th:last-child,
        > td:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &-hover {
    > tbody {
      > tr:hover {
        transition: background-color 250ms ease;
        background-color: $table-cell-hover-bg-color;
      }
    }
  }
}
