$font-family-base: "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif !default;
$headings-font-family: $font-family-base !default;
$headings-h1-font-family: $headings-font-family !default;
$headings-h2-font-family: $headings-font-family !default;
$headings-h3-font-family: $headings-font-family !default;
$headings-h4-font-family: $headings-font-family !default;
$headings-h5-font-family: $headings-font-family !default;
$headings-h6-font-family: $headings-font-family !default;

html, body {
  font-family: $font-family-base;
  color: $text-color;
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-variant-numeric: lining-nums;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  margin: $headings-margin-top 0 $headings-margin-bottom 0;
  padding: 0;
  small, .small {
    font-size: $font-size-xs;
    font-weight: $font-weight-base;
    vertical-align: middle;
  }
}
h1 {
  font-family: $headings-h1-font-family;
  font-size: $font-size-h1;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h1 * .75;
  }
}
h2 {
  font-family: $headings-h2-font-family;
  font-size: $font-size-h2;
}
h3 {
  font-family: $headings-h3-font-family;
  font-size: $font-size-h3;
}
h4 {
  font-family: $headings-h4-font-family;
  font-size: $font-size-h4;
}
h5 {
  font-family: $headings-h5-font-family;
  font-size: $font-size-h5;
}
h6 {
  font-family: $headings-h6-font-family;
  font-size: $font-size-h6;
}
.lead {
  font-size: 1.3em;
  text-align: justify;
}
blockquote {
  appearance: none;
  display: block;
  white-space: pre-line;
  margin: .2em 0;
  padding: .2em .6em;
  border-left: 3px solid $brand-warning;
}
pre {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
small, .small {
  font-size: $font-size-sm;
}
strong {
  font-weight: $font-weight-bold;
}
.text-muted {
  color: $text-muted;
}
.text-success {
  color: $brand-success;
}
.text-info {
  color: $brand-info;
}
.text-warning {
  color: $brand-warning;
}
.text-danger {
  color: $brand-danger;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.pre-line {
  white-space: pre-line;
}
