$font-family-base: "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif !default;

$font-size-base: 1em !default; // iOS zooms the page to show a larger input field if its font-size is less than 16px/1em.
$font-size-sm: 13px !default;
$font-size-xs: 9px !default;

$headings-font-family: $font-family-base !default;
$headings-h1-font-family: $headings-font-family !default;
$headings-h2-font-family: $headings-font-family !default;
$headings-h3-font-family: $headings-font-family !default;
$headings-h4-font-family: $headings-font-family !default;
$headings-h5-font-family: $headings-font-family !default;
$headings-h6-font-family: $headings-font-family !default;

$headings-margin-top: 2em !default;
$headings-margin-bottom: 1em !default;

html, body {
  font-family: $font-family-base;
  color: $text-color;
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-variant-numeric: lining-nums;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  margin: $headings-margin-top 0 $headings-margin-bottom 0;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
  small, .small {
    font-size: 80%;
    font-weight: $font-weight-base;
    vertical-align: text-bottom;
  }
  .small-block {
    display: block;
  }
}
h1 {
  font-family: $headings-h1-font-family;
  font-size: $font-size-h1;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-h1 * .75;
  }
}
h2 {
  font-family: $headings-h2-font-family;
  font-size: $font-size-h2;
}
h3 {
  font-family: $headings-h3-font-family;
  font-size: $font-size-h3;
}
h4 {
  font-family: $headings-h4-font-family;
  font-size: $font-size-h4;
}
h5 {
  font-family: $headings-h5-font-family;
  font-size: $font-size-h5;
}
h6 {
  font-family: $headings-h6-font-family;
  font-size: $font-size-h6;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $component-border-color;
  border: 0 none;
  margin: 0 auto;
}
.lead {
  font-size: 120%;
  text-align: justify;
}
p {
  margin: 1em 0;
}
a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}
blockquote {
  appearance: none;
  display: block;
  white-space: pre-line;
  margin: .2em 0;
  padding: .2em .6em;
  border-left: 3px solid $brand-warning;
}
code {
  font-size: 90%;
  word-break: break-word;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #e83e8c;
  &.code-block {
    font-size: 12px;
    color: inherit;
    white-space: pre-wrap;
  }
}
pre {
  font-size: 90%;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}
small, .small {
  font-size: $font-size-sm;
}
strong {
  font-weight: $font-weight-bold;
}
mark {
  padding: .2em .6em;
  background-color: $brand-primary;
}
abbr {
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
.text-muted {
  color: $text-muted;
}
.text-success {
  color: $brand-success;
}
.text-info {
  color: $brand-info;
}
.text-warning {
  color: $brand-warning;
}
.text-danger {
  color: $brand-danger;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.pre-line {
  white-space: pre-line;
}
