// Colors
$text-color: rgba(black, .9) !default;

// Font families
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"  !default;
$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-headings: $font-family-base !default;
$font-family-h1: $font-family-headings !default;
$font-family-h2: $font-family-headings !default;
$font-family-h3: $font-family-headings !default;
$font-family-h4: $font-family-headings !default;
$font-family-h5: $font-family-headings !default;
$font-family-h6: $font-family-headings !default;

// Font sizes
$font-size-base: 1em !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-xs: $font-size-base * .625 !default;
$font-size-lead: 120% !default;
$font-size-code: $font-size-base * .875 !default;
$font-size-code-block: $font-size-base * .75 !default;
$font-size-h1: $font-size-base * 3 !default;
$font-size-h2: $font-size-base * 2 !default;
$font-size-h3: $font-size-base * 1.5 !default;
$font-size-h4: $font-size-base !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: $font-size-base !default;

// Line heights
$line-height-base: 1.5 !default;
$line-height-headings: $line-height-base !default;

// Font weights
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-headings: $font-weight-bold !default;
$font-weight-h1: $font-weight-headings !default;
$font-weight-h2: $font-weight-headings !default;
$font-weight-h3: $font-weight-headings !default;
$font-weight-h4: $font-weight-headings !default;
$font-weight-h5: $font-weight-headings !default;
$font-weight-h6: $font-weight-headings !default;

// Margins
$paragraph-margin-top: 1em !default;
$paragraph-margin-bottom: 1em !default;
$headings-margin-top: 1em !default;
$headings-margin-bottom: 1em !default;

html, body {
  font-family: $font-family-base;
  color: $text-color;
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-variant-numeric: lining-nums;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: $line-height-headings;
  font-weight: $font-weight-headings;
  margin: $headings-margin-top 0 $headings-margin-bottom 0;
  padding: 0;
  small, .small {
    font-size: 75%;
    font-weight: $font-weight-base;
  }
  .small-block {
    display: block;
  }
}
h1 {
  font-family: $font-family-h1;
  font-size: $font-size-h1;
  font-weight: $font-weight-h1;
}
h2 {
  font-family: $font-family-h2;
  font-size: $font-size-h2;
  font-weight: $font-weight-h2;
}
h3 {
  font-family: $font-family-h3;
  font-size: $font-size-h3;
  font-weight: $font-weight-h3;
}
h4 {
  font-family: $font-family-h4;
  font-size: $font-size-h4;
  font-weight: $font-weight-h4;
}
h5 {
  font-family: $font-family-h5;
  font-size: $font-size-h5;
  font-weight: $font-weight-h5;
}
h6 {
  font-family: $font-family-h6;
  font-size: $font-size-h6;
  font-weight: $font-weight-h6;
}
.lead {
  font-size: $font-size-lead;
}
p {
  margin: $paragraph-margin-top 0 $paragraph-margin-bottom 0;
}
a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}
blockquote {
  appearance: none;
  display: block;
  white-space: pre-line;
  margin: .2em 0;
  padding: .2em .6em;
  border-left: 3px solid $text-muted;
}
code {
  font-size: $font-size-code;
  word-break: break-word;
  font-family: $font-family-code;
  color: $red;
  &.code-block {
    display: block;
    font-size: $font-size-code-block;
    color: $gray-800;
    white-space: pre-wrap;
  }
}
pre {
  font-size: 90%;
  font-family: $font-family-code;
  margin: 0;
  padding: 0;
  white-space: pre-line;
}
small, .small {
  font-size: $font-size-sm;
}
strong, b {
  font-weight: $font-weight-bold;
}
mark {
  padding: .2em .6em;
  background-color: $brand-warning;
}
abbr {
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
.text-muted {
  color: $text-muted;
}
.text-success {
  color: $text-success;
}
.text-info {
  color: $text-info;
}
.text-warning {
  color: $text-warning;
}
.text-danger {
  color: $text-danger;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.pre-line {
  white-space: pre-line;
}
