// Colors
$outremer: #1a0078 !default;
$outremer-text: #1a004f !default;
$indigo: #738cff !default;
$grenadine: #ff405e !default;
$citron: #ffe51f !default;
$creme: #fffae5 !default;

// Brand colors
$brand-primary: $citron !default;
$brand-secondary: $outremer-text !default;
$brand-success: #3ecf8e !default;
$brand-info: $indigo !default;
$brand-warning: $citron !default;
$brand-danger: $grenadine !default;

// Text
$text-color: $brand-secondary !default;
$text-muted: rgba($brand-secondary, .5) !default;
$text-danger: $brand-danger !default;
$link-color: $grenadine !default;

// Grays
$gray-base: #555555 !default;
$gray-darker: $gray-base !default;
$gray-dark: #979797 !default;
$gray: #aaaabe !default;
$gray-light: #ddd9e3 !default;
$gray-lighter: #f8f8f8 !default;

// Types
$line-height-base: 1.5 !default;
$font-family-base: "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif !default;
$font-weight-base: normal !default;
$font-weight-bold: bold !default;
$font-size-base: 1em !default;
$font-size-sm: 13px !default;
$font-size-xs: 9px !default;

$headings-font-weight: $font-weight-bold !default;
$headings-line-height: $line-height-base !default;

$font-size-h1: 2em !default;
$font-size-h2: 1.4em !default;
$font-size-h3: 1em !default;
$font-size-h4: 1em !default;
$font-size-h5: 1em !default;
$font-size-h6: 1em !default;

// Outline
$outline-color: rgba($brand-secondary,.4) !default;
$outline: 0 0 1rem $outline-color !default;

// Component
$component-border-size: 1px !default;
$component-border-color: $gray-light !default;
$component-bg-color: white !default;
$component-bg-color-alt: $creme !default;
$component-bg-color-light: #e6e6e6 !default;
$component-filter-saturate: 300% !default;
$component-filter-blur: 20px !default;
$component-backdrop-filter: saturate($component-filter-saturate) blur($component-filter-blur) !default;
$component-border-radius: 4px !default;
$component-border-radius-sm: 2px !default;
$component-padding: .8rem 1rem !default;

// Breakpoints
$screen-xs: 576px !default;
$screen-xs-max: ($screen-xs - 1px) !default;

$screen-sm: 768px !default;
$screen-sm-max: ($screen-sm - 1px) !default;

$screen-md: 992px !default;
$screen-md-max: ($screen-md - 1px) !default;

// Z-index
$z-index-menu: 10 !default;
$z-index-modal-backdrop: 20 !default;
$z-index-modal: 30 !default;
$z-index-error: 40 !default;
$z-index-route-loading: 100 !default;

// Buttons
$button-font-weight: $font-weight-bold !default;
$button-padding: .8em 2em !default;
$button-font-size-md: 80% !default;
$button-padding-md: .4em 1em !default;
$button-primary-color: $text-color !default;
$button-primary-bg-color: $brand-primary !default;

// Pagination
$pagination-bg: $component-bg-color !default;
$pagination-border-color: $component-border-color !default;
$pagination-border-width: 1px !default;
$pagination-border-radius: $component-border-radius !default;
$pagination-color: $text-color !default;
$pagination-color-disabled: $text-muted !default;
$pagination-focus-box-shadow: $outline !default;
$pagination-focus-outline: $outline !default;
$pagination-hover-bg: darken($component-bg-color,5%) !default;
$pagination-hover-border-color: darken($component-border-color,5%) !default;
$pagination-hover-color: $text-color !default;
$pagination-line-height: inherit !default;
$pagination-font-size: inherit !default;
$pagination-font-family: inherit !default;
$pagination-padding: .8em 1.6em !default;

// Cards
$card-list-grid-gap: 10px !default;

// Modal
$modal-backdrop-color: rgba(white, .8) !default;
$modal-backdrop-color-no-filter: rgba(white, .99) !default;
$modal-backdrop-filter: $component-backdrop-filter !default;
$modal-bg-color: $component-bg-color !default;
$modal-border-radius: $component-border-radius !default;
$modal-box-shadow: 0 0.4rem 1rem rgba(black,.3) !default;
$modal-close-font-size: 1.5rem !default;
$modal-close-button-size: 3.5rem !default;
$modal-close-color: $text-muted !default;

// Dialog
$dialog-button-padding: .8em 1em !default;
$dialog-button-color: $link-color !default;
