// Colors
$outremer: #1a0078 !default;
$outremer-text: #1a004f !default;
$indigo: #738cff !default;
$grenadine: #ff405e !default;
$citron: #ffe51f !default;
$creme: #fffae5 !default;

// Brand colors
$brand-primary: $citron !default;
$brand-secondary: $outremer-text !default;
$brand-success: #3ecf8e !default;
$brand-info: $indigo !default;
$brand-warning: $citron !default;
$brand-danger: $grenadine !default;

// Text
$text-color: $brand-secondary !default;
$text-muted: rgba($brand-secondary, .5) !default;
$text-danger: $brand-danger !default;
$link-color: $grenadine !default;

// Grays
$gray-lighter:  hsl(210, 17%, 98%) !default;
$gray-light:    hsl(210, 16%, 93%) !default;
$gray:          hsl(210, 14%, 89%) !default;
$gray-dark:     hsl(210, 10%, 66%) !default;
$gray-darker:   hsl(210,  5%, 33%) !default;

// Types
$line-height-base: 1.5 !default;
$font-family-base: "Helvetica Neue", "Ubuntu", "Roboto", "Noto", "Segoe UI", "Arial", sans-serif !default;
$font-weight-base: normal !default;
$font-weight-bold: bold !default;
$font-size-base: 1em !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-xs: $font-size-base * .625 !default;

$headings-font-weight: $font-weight-bold !default;
$headings-line-height: $line-height-base !default;

$font-size-h1: $font-size-base * 2 !default;
$font-size-h2: $font-size-base * 1.5 !default;
$font-size-h3: $font-size-base !default;
$font-size-h4: $font-size-base !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: $font-size-base !default;

// Outline
$outline-color: rgba($brand-secondary,.4) !default;
$outline: 0 0 1rem $outline-color !default;

// Component
$component-border-size: 1px !default;
$component-border-color: $gray !default;
$component-bg-color: white !default;
$component-bg-color-light: $gray-light !default;
$component-bg-color-alt: $creme !default;
$component-filter-saturate: 300% !default;
$component-filter-blur: 20px !default;
$component-backdrop-filter: saturate($component-filter-saturate) blur($component-filter-blur) !default;
$component-border-radius: 6px !default;
$component-border-radius-sm: 3px !default;
$component-padding: 12px 16px !default;

// Breakpoints
$screen-xs: 576px !default;
$screen-xs-max: ($screen-xs - 1px) !default;

$screen-sm: 768px !default;
$screen-sm-max: ($screen-sm - 1px) !default;

$screen-md: 992px !default;
$screen-md-max: ($screen-md - 1px) !default;
