// Colors
$outremer: #1a0078;
$outremer-text: #1a004f;
$indigo: #738cff;
$grenadine: #ff405e;
$citron: #ffe51f;
$creme: #fffae5;

// Brand colors
$brand-primary: $citron;
$brand-secondary: $outremer-text;
$brand-success: #3ECF8E;
$brand-info: $indigo;
$brand-warning: $citron;
$brand-danger: $grenadine;

// Text
$text-color: $brand-secondary;
$text-muted: rgba($brand-secondary, .5);
$text-danger: $brand-danger;
$link-color: $grenadine;

// Grays
$gray-base: #555555;
$gray-darker: $gray-base;
$gray-dark: #979797;
$gray: #AAAABE;
$gray-light: #ddd9e3;
$gray-lighter: #F8F8F8;

// Types
$line-height-base: 1.5;
$font-family-base: Gotham, sans-serif;
$font-weight-base: normal;
$font-weight-bold: bold;
$font-size-base: 1em; // iOS zooms the page to show a larger input field if its font-size is less than 16px/1em.
$font-size-sm: .8em;
$font-size-xs: .6em;

$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-base;
$headings-margin-top: 0;
$headings-margin-bottom: 1em;

$headings-h1-font-family: Archer, sans-serif;

$font-size-h1: 2em;
$font-size-h2: 1.4em;
$font-size-h3: 1em;
$font-size-h4: 1em;
$font-size-h5: 1em;
$font-size-h6: 1em;

// Outline
$outline-color: rgba($brand-secondary,.4);
$outline: 0 0 1rem $outline-color;

// Component
$component-border-size: 1px;
$component-border-color: $gray-light;
$component-bg-color: white;
$component-bg-color-alt: $creme;
$component-bg-color-light: #e6e6e6;
$component-filter-saturate: 300%;
$component-filter-blur: 20px;
$component-backdrop-filter: saturate($component-filter-saturate) blur($component-filter-blur);
$component-border-radius: 1px;
$component-border-radius-sm: 0;
$component-padding: .8rem 1rem;

// Breakpoints
$screen-xs: 576px;
$screen-xs-max: ($screen-xs - 1px);

$screen-sm: 768px;
$screen-sm-max: ($screen-sm - 1px);

$screen-md: 992px;
$screen-md-max: ($screen-md - 1px);

// Z-index
$z-index-menu: 10;
$z-index-modal-backdrop: 20;
$z-index-modal: 30;
$z-index-error: 40;
$z-index-route-loading: 100;

// Tables
$table-cell-padding-vertical: .3rem;
$table-cell-padding-horizontal: .6rem;
$table-cell-hover-bg-color: rgba($gray-lighter, .5);
$table-cell-striped-bg-color: $gray-lighter;
$table-border-color: $component-border-color;

// Buttons
$button-font-weight: $font-weight-bold;
$button-padding: .8em 2em;
$button-font-size-md: 80%;
$button-padding-md: .4em 1em;
$button-primary-color: $text-color;
$button-primary-bg-color: $brand-primary;

// Pagination
$pagination-bg: $component-bg-color;
$pagination-border-color: $component-border-color;
$pagination-border-width: 1px;
$pagination-border-radius: $component-border-radius;
$pagination-color: $text-color;
$pagination-color-disabled: $text-muted;
$pagination-focus-box-shadow: $outline;
$pagination-focus-outline: $outline;
$pagination-hover-bg: darken($component-bg-color,5%);
$pagination-hover-border-color: darken($component-border-color,5%);
$pagination-hover-color: $text-color;
$pagination-line-height: inherit;
$pagination-font-size: inherit;
$pagination-font-family: inherit;
$pagination-padding: .8em 1.6em;

// Label
$label-padding: .4em 1em;
$label-font-size: inherit;
$label-success-bg-color: $brand-success;
$label-success-color: white;
$label-info-bg-color: $brand-info;
$label-info-color: white;
$label-warning-bg-color: $brand-warning;
$label-warning-color: white;
$label-danger-bg-color: $brand-danger;
$label-danger-color: white;

// Cards
$card-list-grid-gap: 10px;

// Modal
$modal-backdrop-color: rgba(white, .8);
$modal-backdrop-color-no-filter: rgba(white, .99);
$modal-backdrop-filter: $component-backdrop-filter;
$modal-bg-color: $component-bg-color;
$modal-border-radius: $component-border-radius;
$modal-box-shadow: 0 0.4rem 1rem rgba(black,.3);
$modal-close-font-size: 1.5rem;
$modal-close-button-size: 3.5rem;
$modal-close-color: $text-muted;

// Dialog
$dialog-button-padding: .8em 1em;
$dialog-button-color: $link-color;
